*,
*:before,
*:after {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
}
html,
body,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.111rem;
}
p,
pre,
ul,
ol,
dl,
hr,
legend,
address,
table,
blockquote {
  margin-bottom: 1.111rem;
}
body {
  background-color: #fff;
}
li {
  list-style-position: outside;
  margin-left: 2em;
}
li ul,
li ol {
  margin-bottom: 0;
}
ul li {
  list-style-type: disc;
}
ul li li {
  list-style-type: circle;
}
ol li {
  list-style-type: decimal;
}
ol li li {
  list-style-type: lower-roman;
}
nav ul,
nav ol {
  margin-bottom: 0;
}
nav li {
  list-style: none;
  margin-left: 0;
}
img,
object {
  vertical-align: bottom;
  border: 0;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
svg:not(:root) {
  overflow: hidden;
}
pre code {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
label {
  display: block;
}
input[type='submit'],
input[type='reset'],
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
  border-radius: 0;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  background-color: #ccc;
}
::-moz-selection {
  color: #fff;
  background: #0095da;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #0095da;
  text-shadow: none;
}
html {
  font-size: 18px;
  font-family: Georgia, serif;
  line-height: 1.5;
  color: #222;
  font-weight: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
a,
.text-btn {
  color: #0095da;
  text-decoration: none;
}
a:focus,
.text-btn:focus,
a:hover,
.text-btn:hover {
  color: #222;
  text-decoration: underline;
  outline: 0;
}
a:active,
.text-btn:active {
  color: #222;
}
blockquote,
q,
em,
dfn,
i,
cite,
var {
  font-style: italic;
}
th,
strong,
dt,
b {
  font-weight: bold;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
}
blockquote p {
  font-size: 1.5em;
  margin-bottom: 0;
}
ins {
  text-decoration: none;
  border-bottom: 3px double;
}
del,
s {
  text-decoration: line-through;
}
mark {
  background-color: #8dbfcf;
  color: #222;
  margin-left: -2px;
  margin-right: -2px;
  padding-left: 2px;
  padding-right: 2px;
}
pre,
code,
samp,
kbd {
  font-family: 'Monaco', monospace;
  font-size: 0.9em;
}
address {
  font-style: normal;
}
abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}
small {
  font-size: inherit;
}
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #222;
}
.prose h1 {
  font-size: 2.375em;
}
.prose h2 {
  font-size: 1.6em;
}
.prose h3 {
  font-size: 1.4em;
}
.prose h4 {
  font-size: 1.2em;
}
.prose h5 {
  font-size: 1.1em;
}
.prose h6 {
  font-size: 1em;
}
.prose p,
.prose li {
  max-width: 50rem;
}
.prose ul,
.prose ol {
  display: table;
}
.grid {
  margin-left: -1.111rem;
}
.grid__item {
  padding-left: 1.111rem;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
.one-half {
  width: 50%;
}
.one-third {
  width: 33.3333%;
}
.two-thirds {
  width: 66.6667%;
}
@media screen and (min-width: 550px) {
  .tablet-one-half {
    width: 50%;
  }
  .tablet-one-third {
    width: 33.3333%;
  }
  .tablet-two-thirds {
    width: 66.6667%;
  }
}
@media screen and (min-width: 960px) {
  .desktop-one-half {
    width: 50%;
  }
  .desktop-one-third {
    width: 33.3333%;
  }
  .desktop-two-thirds {
    width: 66.6667%;
  }
  .desktop-one-quarter {
    width: 25%;
  }
  .desktop-two-quarters {
    width: 50%;
  }
  .desktop-three-quarters {
    width: 75%;
  }
}
.content-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 71.111rem;
}
.content-center:before,
.content-center:after {
  content: "";
  display: table;
}
.content-center:after {
  clear: both;
}
.content-gutter {
  padding-left: 0.5555rem;
  padding-right: 0.5555rem;
}
@media screen and (min-width: 550px) {
  .content-gutter {
    padding-left: 1.111rem;
    padding-right: 1.111rem;
  }
}
.control--text,
.control--choice {
  display: block;
  width: 100%;
  padding: 0.25em 0.5em;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
  background-color: #fff;
  border-radius: 0;
}
.control--text:focus,
.control--choice:focus {
  border-color: #0095da;
  outline: 0;
}
.control--text {
  -webkit-appearance: none;
}
.control--choice {
  height: 2em;
}
.control--multilined {
  resize: vertical;
  height: auto;
}
.control--boolean {
  margin-right: 10px;
  line-height: inherit;
  vertical-align: middle;
}
.control--boolean + span {
  vertical-align: middle;
}
span + .control--boolean {
  margin-right: 0;
  margin-left: 10px;
}
.control--file {
  line-height: 1;
  font-size: inherit;
  font-family: inherit;
}
.field {
  margin-bottom: 1.111rem;
}
.field__question {
  margin-bottom: 0.5555rem;
}
.field__assistance {
  margin-top: 0.5555rem;
  color: #ccc;
  font-size: 0.9em;
}
.field__feedback {
  margin-top: 0.5555rem;
}
.field--error .field__feedback {
  color: #ca4427;
}
.field--success .field__feedback {
  color: #47a967;
}
.field--notice .field__feedback {
  color: #4791a9;
}
.field--warning .field__feedback {
  color: #dc7f2a;
}
.icon {
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.button {
  display: inline-block;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  padding: 0.5em 1em;
  line-height: 1.2;
  font-size: 1em;
  font-family: inherit;
  color: inherit;
  background-color: #ccc;
  text-align: center;
}
.button:focus,
.button:hover {
  text-decoration: none;
  background-color: #d1d1d1;
  outline: 0;
}
.button:active {
  background-color: #a3a3a3;
}
.button--primary {
  color: #fff;
  background-color: #0095da;
}
.button--primary:focus,
.button--primary:hover {
  color: #fff;
  background-color: #00a9f7;
}
.button--primary:active {
  background-color: #0077ae;
}
.button[disabled],
.button.is-disabled {
  opacity: 0.75;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.button--block {
  display: block;
  width: 100%;
}
.button-group .button + .button {
  margin-left: 0.5em;
}
.text-btn {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
.list--unstyled {
  margin-bottom: 0;
}
.list--unstyled > li {
  list-style: none;
  margin-left: 0;
}
.list--inline > li {
  display: inline-block;
  margin-left: 0;
}
.list--comma > li {
  display: inline-block;
  margin-left: 3px;
}
.list--comma > li:after {
  content: ', ';
}
.list--comma > li:last-child {
  margin-right: 0;
}
.list--comma > li:last-child:after {
  content: none;
}
.is-vhidden {
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
}
.is-hidden {
  display: none !important;
}
@media screen and (max-width: 549px) {
  .is-hidden-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 550px) and (max-width: 959px) {
  .is-hidden-tablet {
    display: none !important;
  }
}
@media screen and (min-width: 960px) {
  .is-hidden-desktop {
    display: none !important;
  }
}
.js .is-visible--no-js {
  display: none !important;
}
.no-js .is-visible--js {
  display: none !important;
}
.a11y-navigation a {
  position: absolute;
  top: -200px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 0;
  background-color: #222;
  color: #fff;
  z-index: 1000;
  padding: 2px 6px;
}
.a11y-navigation a:focus {
  clip: auto;
  top: 0;
  overflow: visible;
  height: auto;
  outline: 0;
}
.main-content {
  padding-top: 1.111rem;
  padding-bottom: 1.111rem;
}
@media screen and (min-width: 550px) {
  .main-content {
    padding-top: 2.222rem;
    padding-bottom: 2.222rem;
  }
}
@media screen and (min-width: 960px) {
  .main-content {
    min-height: 22.222rem;
    padding-top: 3.333rem;
    padding-bottom: 3.333rem;
  }
}
.main-footer {
  padding: 1em 0;
  color: #ccc;
  font-size: 0.778rem;
  text-align: center;
}
.main-header {
  padding: 1.111rem 0;
  border-bottom: 1px solid #ccc;
}
.site-title {
  margin-bottom: 0;
}
.main-navigation {
  border-bottom: 1px solid #ccc;
}
.main-navigation li {
  display: inline-block;
}
.main-navigation li a {
  display: inline-block;
  padding: 0.5em 1em;
}
.main-navigation li a:hover,
.main-navigation li a:focus,
.main-navigation li a:active {
  color: #fff;
  background-color: #0095da;
}
.pre-header {
  background-color: #222;
  color: #fff;
}
.pre-header:before,
.pre-header:after {
  content: "";
  display: table;
}
.pre-header:after {
  clear: both;
}
.pre-header__primary {
  display: inline-block;
  float: left;
}
.pre-header__secondary {
  text-align: right;
}
@media print {
  @page {
    margin: 0.5cm;
  }
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
  pre,
  blockquote {
    border: 1px solid #ccc;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
